.homepage-logo {
  background: url(asset_path('rainy.png')) no-repeat 28px 15px;
  background-size: 43px 37px;
  margin: 0;
  padding: 20px 20px;
  text-indent: 4em;
  color: white;
  font-family: sans-serif;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: flex-start;
  z-index: 1;
  text-decoration: none;
}

.homepage-signin {
  grid-column: 2/4;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  padding: 15px;
  z-index: 1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
}

.homepage-signin button {
  align-self: center;
}

.homepage-signin-btn {
  grid-row: 1;
  grid-column: 1;
  margin: 0 0 0 6px;
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 100;
  font-family: sans-serif;
}

.homepage-create-btn {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  padding: 5px 18px 5px 18px;
  margin: 0 0 0 6px;
  background-color: #f50;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 100;
  font-family: sans-serif;
  border: none;
}

.homepage-demo-btn {
  grid-row: 1;
  grid-column: 3;
  padding: 5px 15px;
  margin: 0 6px 0 6px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 100;
  font-family: sans-serif;
}

.slideText {
  color: white;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  position: relative;
  top: 50px;
  z-index: 1;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 100;
  animation: animateright 1.0s;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.slideText h1 {
  font-weight: 100;
  line-height: 2;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.homepage-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 100px 350px;
  background-position: center;
  background-color: black;
  width: inherit;
  height: 450px;
  border-top: 5px solid #f50;
  margin: 0 auto;
}

#homepage-container {
  width: 1225px;
  min-height: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

#homepage-container .suggest_search {
  width: 590px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.homepage--search--icon {
  margin-top: 65px;
  left: calc(50% + 220px);
  z-index: 1;
}

.homepage--search--icon:hover {
  cursor: pointer;
}

@media (max-width: 1224px) {
  #homepage-container {
    width: 1080px;
  }
}

@media (max-width: 1079px) {
  #homepage-container {
    width: 960px;
  }
}

.homepage-search-bar {
  height: 46px;
  width: 600px;
  padding-left: 20px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  border: none;
}

.search__icon {
  position: absolute;
  clip: rect(0px, 90px, 30px, 60px);
}

.play__icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('/sprite-sheet-orange.png');
  background-position: -260px -326px;
  background-repeat: no-repeat;
}

.pause_icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('/sprite-sheet-orange.png');
  background-position: -309px -326px;
  background-repeat: no-repeat;
}

.homepage__songs__title {
  position: relative;
  top: 100px;
  text-align: center;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 100;
}

.songs__grid {
  display: grid;
  margin: 130px 30px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 10px;
}

.song__item {
  width: 180px;
  height: 180px;
  background-color: lightgrey;
}

.song__item:hover {
  cursor: pointer;
  z-index: 3;
}

.song_item_img {
  width: 180px;
  height: 180px;
}

.homepageSongs_play_icon {
  position: relative;
  left: 60px;
  bottom: 140px;
}

@media (max-width: 1224px) {
  .song_item_img {
    width: 160px;
    height: 160px;
  }

  .song__item {
    width: 160px;
    height: 160px;
  }

  .homepageSongs_play_icon {
  left: 55px;
  bottom: 130px;
}
}

@media (max-width: 1079px) {
  .song_item_img {
    width: 140px;
    height: 140px;
  }

  .song__item {
    width: 140px;
    height: 140px;
  }

  .homepageSongs_play_icon {
    left: 45px;
    bottom: 120px;
  }
}

.song_name {
  padding: 5px 0;
  font-size: 14px;
}

.mySlides {
  width: inherit;
  height: inherit;
  z-index: 0;
  grid-column: 1/3;
  grid-row: 1/2;
  opacity: 0.4;
}

.w3-animate-right {
  position: relative;
  animation: animateright 1.0s
}
@keyframes animateright {
  from {
    right:-960px;
  }
  to {
    right:0;
  }
}
