.signin-password-form {
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 250px 300px;
  grid-row-gap: 10px;
}

.signin-password-email {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  color: #555;
}

.signin-password-inp {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: start;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  color: #555;
}

.signin-password-errors {
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: start;
  position: relative;
  top: 45px;
  left: 38px;
  color: #f50;
  font-family: sans-serif;
  font-size: 13px;
}

.signin-password-submit {
  background-color: #f50;
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 8px;
  width: 85%;
  margin: 70px auto;
  color: white;
}
